<h2> Here is the post </h2>

<%= @post.title %>
<br>
<%= @post.author %>
<br>
<%= @post.body %>
<br>
<ol>
<% @tag_id.each do |tag| %>
  <li><%= Tag.find_by_id(tag).name %></li>
  <% end %>
</ol>
<% if @post.author == current_user.username %>
<form method="post" action="<%= @post.id %>/edit">
<input type="submit" name="Edit" value="Edit Post"></input>
</form>

<form method="post" class="delete" action="/posts/<%= @post.id %>">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" name="submit" value="Delete Post"></input>
</form>
<% end %>


